.container
  .row
    .column#animation
      // Codepen.io Embed
      p(data-height="560" data-theme-id="0" data-slug-hash="PWaEYa" data-default-tab="css,result" data-user="meads2" data-embed-version="2" data-pen-title="Square-To-Circle" class="codepen")
script(async src="https://production-assets.codepen.io/assets/embed/ei.js")
