.container
  .row
    .column.column-30
      //- Custom Particles Canvas
      canvas#myCanvas
      // Site info (stays fixed)
      .site-info
        a(href="#" class="project-logo")
          img(src="images/logo.png" alt="Project Logo")
        header.mini-nav
          a(href="page1.html" class="filled") Top 10
          a(href="page2.html" class="outline") Animation
        footer.mini-footer.flex
          a(href="#")
            i.ion-social-github
    .column.column-50
      section.section.main.flex.flex-row
        .about-area
          h1.main-title  Project
          .animated
            i.ion-chevron-down
            p Scroll Down
      section.section#challenges
        h2 Question
        h1 Challenges?
        ul
          li Making this layout responsive
          li Figuring out a topic
          li Working with a lot of plugins
          li Making an appealing design
      section.section#interesting
        h2 Question
        h1 Interesting?
        ul
          li Found some new JQuery plugins to enhance designs
          li Worked with a new layout
          li Created a better user experience
      section.section
        h2 Question
        h1 Learned Techniques?
        ul
          li Scolling effects
          li Some new animations and transitions
          li Organizing content
          li Better practices for file organization and coding
      section.section
        h2 Question
        h1 Resources
        ul
          li
            a(href="http://www.dribbble.com") Dribbble
          li
            a(href="https://projects.lukehaas.me/scrollify/#methods-continued") Scollify JS
          li
            a(href="https://marcbruederlin.github.io/particles.js/") Particles JS
      section.section
        h2 Question
        h1 Try and then delete anything?
        p I tried implementing a cool paralax scrolling effect for the content so the background would change slightly different when scrolling. It was not working the way I had hoped so I decided to scrap it and try something else. It was doing weird things on smaller screens and I didn't want to risk breaking the entire project.
      section.section
        h2 Question
        h1 How to improve?
        p There are a lot of things I could do to improve this project. I would want to make the site and design more responsive. It looks ok on desktop, but becomes a mess on smaller devices.
        p I would have liked to make a better design with some more colors as well as images. I wanted to keep a minimal design, but this might look to minimal.
        p Lastly, I wanted to make a bunch of cool little interactions and effects that I could not get to all work together the way I wanted to. I hope to figure them out and use them in a future project.
