// JQuery
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
// Scrollify
script(src="https://cdnjs.cloudflare.com/ajax/libs/scrollify/1.0.12/jquery.scrollify.min.js")
// ParticlesJS
script(src="https://npmcdn.com/particlesjs@1.0.2/dist/particles.min.js")
// Custom jquery
script(src="../js/app.js")
// Custom Particles JS
script(src="../js/particles.js")
