section.container-fluid.section.work.flex.flex-row.skype
  .number 1
  .work-image
    img(src="../images/t-1.png")
  .work-description
    h1 Skype Redesign
    p This is a skype redesign
section.section.work.flex.flex-row.fb
  .number 2
  .work-image
    img(src="../images/t-2.jpg")
  .work-description
    h1 Facebook Redesign
    p This is a Facebook redesign
section.section.work.flex.flex-row.yh
  .number 3
  .work-image
    img(src="../images/t-3.png")
  .work-description
    h1 Yahoo Redesign
    p This is a Facebook redesign
section.section.work.flex.flex-row.gm
  .number 4
  .work-image
    img(src="../images/t-4.jpg")
  .work-description
    h1 Gmail Redesign
    p This is a Facebook redesign
section.section.work.flex.flex-row.usa
  .number 5
  .work-image
    img(src="../images/t-5.jpg")
  .work-description
    h1 American Flag
    p This is a Facebook redesign
section.section.work.flex.flex-row.wk
  .number 6
  .work-image
    img(src="../images/t-6.jpg")
  .work-description
    h1 Wonka Illustration
    p This is a Facebook redesign
section.section.work.flex.flex-row.lp
  .number 7
  .work-image
    img(src="../images/t-7.png")
  .work-description
    h1 Landing Page
    p This is a Facebook redesign
section.section.work.flex.flex-row.mr
  .number 8
  .work-image
    img(src="../images/t-8.jpg")
  .work-description
    h1 Mars Landing Page
    p This is a Facebook redesign
section.section.work.flex.flex-row.lp2
  .number 9
  .work-image
    img(src="../images/t-9.png")
  .work-description
    h1 App Landing Page
    p This is a Facebook redesign
section.section.work.flex.flex-row.lg
  .number 10
  .work-image
    img(src="../images/t-10.png")
  .work-description
    h1 Login Page
    p This is a Facebook redesign
