
section.container-fluid.section.work.flex.flex-row.skype
  nav.inner-nav
    a(href="index.html") Home
    a(href="page2.html") Animation
  .number 1
  .work-image
    img(src="../images/t-1.png")
  .work-description
    h1 Skype Redesign
    p Skype's current design is ok, but something like this would make the app much more enjoyable to use. This design actually seems to capture the brand better than the current version does. I really like the sidebar and the way in which it was laid out.
section.section.work.flex.flex-row.fb
  .number 2
  .work-image
    img(src="../images/t-2.jpg")
  .work-description
    h1 Facebook Redesign
    p Facebook is the most popular social media platform in the world, and people are always adding their own little touches on its elements. This is a custom designed post, that is more inline with modern web design. I think this would be a great improvement.
section.section.work.flex.flex-row.yh
  .number 3
  .work-image
    img(src="../images/t-3.png")
  .work-description
    h1 Yahoo Redesign
    p I don't know too many people who use Yahoo!, but I thought this design was a great improvement from the current design and may bring in some new users.
section.section.work.flex.flex-row.gm
  .number 4
  .work-image
    img(src="../images/t-4.jpg")
  .work-description
    h1 Gmail Redesign
    p Google has some of the most used apps in the world including Gmail. There apps are good, but desigining and rolling out new changes to that many users is a difficult task which is why some of these popular sites look outdated. This redesign fits more in line with Google's new design patterns and I think would be a great update.
section.section.work.flex.flex-row.usa
  .number 5
  .work-image
    img(src="../images/t-5.jpg")
  .work-description
    h1 American Flag
    p I always enjoy looking at illustrations, but this one stood out to me in particular with the election happening recently. It is a very original take on the American flag that I think is interesting. The lines are all different heights and there is alot of overflow of content.
section.section.work.flex.flex-row.wk
  .number 6
  .work-image
    img(src="../images/t-6.jpg")
  .work-description
    h1 Wonka Illustration
    p The man who played Willy Wonka passed away this year, and there have been countless tributes to him all over the internet. This illustration was one of my favorites. It is so simple, but the shape and arrangement of the letters just perfectly reminds me of the movie and his top hat.
section.section.work.flex.flex-row.lp
  .number 7
  .work-image
    img(src="../images/t-7.png")
  .work-description
    h1 Landing Page
    p Tech pages have been popping up all over in recent years. This design uses alot of illustrations and icons which is laid out in a nice design. I also like how the objects are on an angle whihc gives an interesting perspective.
section.section.work.flex.flex-row.mr
  .number 8
  .work-image
    img(src="../images/t-8.jpg")
  .work-description
    h1 Mars Landing Page
    p Mars has become a popular trend with news of possible civilian trips in our lifetime as well as a possible home for the people of Earth. This design is attractive because it does a good job of using heavy imagery in a way that enhances the content, which can be difficult to acheive.
section.section.work.flex.flex-row.lp2
  .number 9
  .work-image
    img(src="../images/t-9.png")
  .work-description
    h1 App Landing Page
    p Landing pages have become very common in web design especially with all the new apps and libraries coming out daily. I always like to see how other designers showcase their app or library.
section.section.work.flex.flex-row.lg
  .number 10
  .work-image
    img(src="../images/t-10.png")
  .work-description
    h1 Login Page
    p I like this login page a lot because it is very simple yet easy to use and appealing. I like the use of the limited color palete as well as the background shapes.
