doctype html
html(lang='en')
  title Page 2
  include partials/head.pug
body.full-viewheight.flex.flow-col
  .container
    .row
      .column
        // Navbar
        include partials/navbar.pug

  // Animation Embed
  include partials/animation.pug
  .container
    .row
      .column
        // Footer
        include partials/footer.pug

  // Javascript Files
  include partials/scripts.pug
