@import "variables"

.work
  position: relative
  padding: 60px
  color: #fff
.number
  position: absolute
  font-size: 160px
  font-weight: 600
  right: 80px
  top: 40px
  color: rgba(black,.4)
.work-image
  img
    width: 600px
    height: auto

.work-description
  padding-right: 60px

// Background Colors
.skype
  background: rgb(0,156,255)
.fb
  background: #f5f5f5
  color: #333
.yh
  background: rgb(65,35,138)
.gm
  background: #fafafa
  color: #333
.usa
  background: rgb(15,126,242)
.wk
  background: rgb(50,37,35)
.lp
  background: rgb(39,20,60)
.mr
  background: rgb(41,24,21)
.lp2
  background: rgb(83,251,196)
  color: #333
.lg
  background: rgb(24,221,115)
