body {
  background: #fff;
  font-family: 'Roboto', helvetica, Avenir,sans-serif;
}

/* Overides Miligram Container*/
.container {
  height: 100%;
  padding: 0;
}

.is-full-vh {
  height: 100vh;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
}

.flex-one {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flow-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-row-footer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar, .footer {
  height: 56px;
}

.navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar--links {
  width: 120px;
}

.navbar--link:hover, .footer--link:hover {
  cursor: pointer;
}

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.site-info {
  position: fixed;
  width: 320px;
  height: 100vh;
  padding: 64px 0;
  top: 0;
  left: 230px;
}

.project-logo {
  display: block;
  margin: 40px 0;
}

.project-logo img {
  width: 320px;
  height: auto;
  margin: 0 auto;
  vertical-align: middle;
}

.mini-nav {
  margin: 0 auto;
  width: 100%;
}

.mini-nav a {
  padding: 16px 40px;
  border-radius: 2px;
}

.mini-nav .filled {
  background: #ea4c89;
  color: #fff;
  margin-right: 16px;
}

.mini-nav .filled:hover {
  background: #e7357a;
}

.mini-nav .outline {
  background: transparent;
  color: #ea4c89;
  border: 1px solid #ea4c89;
}

.mini-nav .outline:hover {
  color: #fff;
  background: #ea4c89;
}

.mini-footer {
  margin-top: 120px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 48px;
  width: 100%;
}

.mini-footer a {
  color: rgba(0, 0, 0, 0.14);
}

.mini-footer a:hover {
  color: #ea4c89;
}

.main-title {
  width: 100%;
  margin-bottom: 24px;
}

.main-title::after {
  display: block;
  width: 100px;
  height: 12px;
  background: #ea4c89;
  content: '';
}

.main-subtitle {
  width: 100%;
  font-size: 18px;
  text-align: center;
}

.section {
  height: 100vh;
  padding: 64px;
  position: relative;
}

.section h2 {
  width: 100px;
  text-align: center;
  letter-spacing: 1px;
  font-size: 18px;
  background: #ea4c89;
  color: #fff;
  font-weight: 400;
}

.animated {
  width: 150px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -75px;
  font-size: 14px;
  text-align: center;
  -webkit-animation: bounce 2s infinite ease-in-out;
          animation: bounce 2s infinite ease-in-out;
}

#myCanvas {
  position: fixed;
  display: block;
  right: 0;
  top: 0;
  bottom: 100px;
  left: 0;
  z-index: -1;
}

.work {
  position: relative;
  padding: 60px;
  color: #fff;
}

.number {
  position: absolute;
  font-size: 160px;
  font-weight: 600;
  right: 80px;
  top: 40px;
  color: rgba(0, 0, 0, 0.4);
}

.work-image img {
  width: 600px;
  height: auto;
}

.work-image:hover {
  -webkit-animation: workImage 1s infinite ease-in-out;
          animation: workImage 1s infinite ease-in-out;
}

.work-description {
  padding: 0 60px;
  max-width: 480px;
}

.inner-nav {
  position: absolute;
  top: 0;
  padding: 24px 0;
}

.inner-nav a {
  color: #fff;
  margin-right: 16px;
}

.inner-nav a:last-child {
  margin: 0;
}

.inner-nav a:hover {
  text-decoration: underline;
}

.skype {
  background: #009cff;
  position: relative;
}

.fb {
  background: #f5f5f5;
  color: #333;
}

.yh {
  background: #41238a;
}

.gm {
  background: #fafafa;
  color: #333;
}

.usa {
  background: #0f7ef2;
}

.wk {
  background: #322523;
}

.lp {
  background: #27143c;
}

.mr {
  background: #291815;
}

.lp2 {
  background: #53fbc4;
  color: #333;
}

.lg {
  background: #18dd73;
}

@-webkit-keyframes workImage {
  0% {
    -webkit-transform: scale(1.1) rotate(15deg);
            transform: scale(1.1) rotate(15deg);
  }
  50% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  80% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes workImage {
  0% {
    -webkit-transform: scale(1.1) rotate(15deg);
            transform: scale(1.1) rotate(15deg);
  }
  50% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  80% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
